@charset "utf-8";
/* CSS Document */

body{background-color: #e9e9e9;}
.panel-default >
.panel-heading {
    background-color: #ddd;
    border-color: #ddd;
    color: #4a1972;
}

.panel-title {
    color: inherit;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;
	text-align:center;}
	


.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.panel-body {
    padding: 45px;}	
	
	
.panel-body input[type="text"],.panel-body input[type="email"], .panel-body input[type="password"]{
    height:50px;
    
}
.max{width:100%;}
.dis{display:block;}

.email-txt{font-size:16px;
           color:#7b42a9;
		  }
.email-txt a{font-size:16px;
           color:#7b42a9;
		   text-decoration:none;
		  }
.btn-success{
    background-color:#66388b;
    border-color:#66388b;
     padding:7px 20px;
    font-size: 18px;
}

.btn-success:hover{
    background-color: #4a1972;
    border-color: #4a1972;
   
}
.btn-success:active{
    background-color: #4a1972;
    border-color: #4a1972;
}
.btn-success:active:focus,{
    background-color: #4a1972;
    border-color: #4a1972;
}
.btn-success:focus{
    background-color: #4a1972;
    border-color: #4a1972;
}		  
.hd-bg{background-color:#7b42a9;}		  
		   
.mgntop{margin-top:15%}
.mgnlft{margin-left:10%}

		   
.mgnt20{margin-top:20px;}
.pdg5{padding:5px;}
.pdg10{padding:10px;}
.pdg20{padding:20px;}
.pdg40{padding:40px;}

.pdg0{padding:0}
.mgn0{margin:0;}
.mgnl40{margin-left:40px;}
.mgnl20{margin-left:10px;}
.icons{background-color:#4a1972;
       height:150px;
          width:150px;
		  border-radius:100%;
		  margin-left:48px;}
		  
		  
.icons img{height:150px;
          width:150px;}
.icons-border,.icons-bordera,.icons-borderb h3{text-align:center;
           color:#4a1972;}
		   		  
.icons-border{margin-top:15%;
              margin-left:30%;}
.icons-borderb{margin-top:10%;
              margin-left:30%;}		  
			  		  

.icons-bordera{margin-top:10%;
              margin-left:15%;}
			  
			  
@media screen and (max-width:480px)
{

.icons-border{width:100%;}
.icons-borderb{width:100%;}		  
			  		  

.icons-bordera{width:100%;
              }
			  
.mgnl40{margin-left:0px;}
.mgnl20{margin-left:0px;}

.icons{background-color:#004c92;
       height:150px;
          width:150px;
		  border-radius:100%;
		 }

			  
}
			  		  
